- content_for :page_title do
  = t('settings.delete')

= simple_form_for(current_user, url: registration_path(:user), html: { method: :put }) do |f|
  = render 'shared/error_messages', object: f.object
  %p.hint= t('deletes.exists_initial_password_usage')
  .actions
    = f.button :button, t('auth.reset_password'), type: :submit